################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NetCoreEssential/v16/Server/sqlite3
/NetCoreEssential.DependencyInjection/bin/Debug/netcoreapp2.2
/NetCoreEssential.DependencyInjection/obj
/NetCoreEssential.DependencyInjection.Api/bin/Debug/netcoreapp2.2
/NetCoreEssential.DependencyInjection.Api/obj
